<div class="container mt-4">
    <div *ngIf="town">
        <h1 class="display-2 text-center">
            {{town.municipio}},
            <small class="text-muted green-small-text">CCAA</small>
        </h1>
        <hr>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{{town.wiki_info.imagen}}">
                    <div class="card-body">
                        <p class="card-text">{{town.wiki_info.description}}</p>
                        <p class="card-text"><small class="text-muted">{{town.wiki_info.population}}</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ms-auto">
                <table class="table table-hover table-striped">
                    <thead class="table-time-header">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Dia</th>
                            <th scope="col">Temperatura</th>
                            <th scope="col">Lluvia</th>
                            <th scope="col">Viento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let day of town.tiempo_info | slice:0:7; index as i"> 
                            <th scope="row">{{i+1}}</th>
                            <td>{{day.Day}}</td>
                            <td> <img src="../../../assets/images/up-arrow.svg" width="15"> {{day['Max temp']}} <img src="../../../assets/images/down-arrow.svg" width="15"> {{day['Min temp']}} </td>
                            <td *ngIf="ConvertStringToFloat(day.Rain) > 5.0"> <img src="../../../assets/images/rainy.svg" width="15"> {{day.Rain}}</td>
                            <td *ngIf="ConvertStringToFloat(day.Rain) <= 5.0"> <img src="../../../assets/images/sunny.svg" width="15"> {{day.Rain}}</td>
                            <td *ngIf="ConvertStringToFloat(day.Wind) > 22"> <img src="../../../assets/images/windy.svg" width="20"> {{day.Wind}}</td>
                            <td *ngIf="ConvertStringToFloat(day.Wind) <= 22">{{day.Wind}}</td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </div>

        <div class="row mt-4">
            <ul class="list-group mt-1">
                <li class="list-group-item"
                    *ngFor="let tweet of town.tripadvisor_info[town.municipio][0]['Alojate en']">
                    {{tweet.Titulo}}
                </li>
            </ul>
        </div>

        <a href="https://twitter.com/intent/tweet?button_hashtag=Madrid&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #Madrid</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>
</div>