<!-- Footer -->
<footer class="bg-dark text-center">
<div class="footer-links">
    <div> 
    <ul class="list-inline footer-social-networks">
        <li class="list-inline-item">
        <a href="https://www.instagram.com/"><img src="_images/_icons/instagram.svg" height="30" width="30" alt="Instagram"></a>
        </li>
        <li class="list-inline-item">
        <a href="https://www.twitter.com/"><img src="_images/_icons/twitter.svg" height="30" width="30" alt="Twitter"></a>
        </li>
        <li class="list-inline-item">
        <a href="https://www.youtube.com/"><img src="_images/_icons/youtube.svg" height="30" width="30" alt="Youtube"></a>
        </li>
        <li class="list-inline-item">
        <a href="https://www.facebook.com/"><img src="_images/_icons/facebook.svg" height="30" width="30" alt="Facebook"></a>
        </li>
        <li class="list-inline-item">
        <a href="https://www.google.com/"><img src="_images/_icons/google-mas.svg" height="30" width="30" alt="Google+"></a>
        </li>
        <li class="list-inline-item">
        <a href="https://www.reddit.com/"><img src="_images/_icons/reddit.svg" height="30" width="30" alt="Reddit"></a>
        </li> 
    </ul>
    </div>
    <div> <!-- PLACE FOOTER LINKS HERE -->
    <ul class="list-inline footer-links">
        <li class="list-inline-item">
        <a href="#" class="text-white">Términos de uso</a>
        </li>
        <li class="list-inline-item">
        <a href="#" class="text-white">Política de Privacidad</a>
        </li>
        <li class="list-inline-item">
        <a href="#" class="text-white">Trabaja con nosotros</a>
        </li>
        <li class="list-inline-item">
        <a href="#" class="text-white">Media</a>
        </li>
    </ul>
    </div>
    <div>
    <address class="text-white">
        <strong>Grupo E Inc.</strong><br>
        Calle Tajo, s/n, 28670<br>
        <img src="_images/_icons/location-pin.svg" height="16" alt="Location icon">  Villaviciosa de Odón, Madrid<br>
        <img src="_images/_icons/phone.svg" height="15" alt="Phone icon">  +34 674 231 583<br>
        <a href="mailto:#" style="text-decoration: none;" class="text-success">grupoE@gmail.com</a>
    </address>
    </div>
</div>
<div class="footer-copyright">
    <span class="text-light footer-copyright">© 2020-2021: <a href="https://github.com/riniguez91/entrega1-empty-spain" target="_blank">Grupo E</a></span>
</div>
</footer>