/*Footer*/
footer {
  padding: 15px 0px;
  bottom: 0px;
  width: 100%;
}
  
.footer-copyright {
  font-size: smaller;
}
  
.footer-links {
  text-decoration: none;
}
  
.list-inline-item{
  padding-bottom: 0.5rem;
  padding-left: 1rem!important;
  padding-right: 1rem!important;
  padding-top: 0.5rem;
}
  /*END Footer*/