<div class="text-center">
    <div class="content">
        <h2>Personal Information Page</h2>
        <p style="text-align: left">Welcome back,<strong>  </strong>!</p>
        <div>
            <p>Your account details are below: <br><br></p>
            <hr>
            <table>
                <tr>
                    <td>Name:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Surnames:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td></td>
                </tr>
            </table>
        </div>


    </div>
</div>