<div class="container text-center main-container">
  <h1 class="display-1 h1Titulo"><strong>Inicio</strong></h1>
  <h2>¿Qué es el Análisis de Sentimiento?</h2>
  <hr>
  <p class="texto_principal">El <strong>Análisis de Sentimiento</strong> o <strong>minería de opinión</strong> es un tipo de procesamiento del lenguaje natural para realizar el seguimiento del estado de ánimo del público sobre un producto en particular.
    El análisis de sentimiento implica la construcción de un sistema para recoger y categorizar opiniones sobre un producto. 
    Conocido también como minería de opinión, puede automatizarse usando machine learning, un tipo de inteligencia artificial (IA), para extraer el sentimiento del texto.
  </p>
  
  <img id="home-sentiment-img" class="img-fluid" src="../../assets/images/analisis_sentimiento.jpg">
  
  <blockquote class="blockquote">
    <p class="mb-0">Esta aplicación consiste en analizar un texto introducido en el campo dedicado y se obtienen como resultado unos valores de positividad y negatividad para este texto.</p>
  </blockquote>
  <button class="btn btn-primary botones" routerLink="/analisis-texto">Pulsar para acceder al Análisis de Sentimiento</button>

</div>