#searchPie { 
    width: inherit !important; 
    height: inherit !important; 
} 

ejs-grid {
    width: inherit !important; 
    height: inherit !important; 
}

e-columns {
    width: inherit !important; 
    height: inherit !important;
}

ejs-accumulationchart {
    width: inherit !important; 
    height: inherit !important;  
}

e-accumulation-series-collection {
    width: inherit !important; 
    height: inherit !important;  
}

.container-scrapers {
    width: inherit !important; 
    height: inherit !important;  
}

.scraperBtn{
    margin-top: 5px;
    width:100%;
    background-color: var(--lime-green);
    color: white;
}
