#searchPie { 
    width: inherit !important; 
    height: inherit !important; 
} 

ejs-grid {
    width: inherit !important; 
    height: inherit !important; 
}

e-columns {
    width: inherit !important; 
    height: inherit !important;
}

ejs-accumulationchart {
    width: inherit !important; 
    height: inherit !important;  
}

e-accumulation-series-collection {
    width: inherit !important; 
    height: inherit !important;  
}
