<!-- <button (click)='addData()'>asdfa</button>
<div style="width:50%;">
    <canvas id="busquedaPueblos" height=250 baseChart [chartType]="'pie'" [legend]="true" [datasets]="chartData"
        [labels]="chartLabels" [options]="chartOptions">
    </canvas>
</div> -->
 
<!-- PARA MOSTRAR EL NUMERO DE BUSQUEDAS POR DIA O MES -->
<div class="container grid-container">
    <div class="grid-item">
    <ejs-chart id="chart-line" [primaryXAxis]='primaryXAxis'  title='Busquedas Mensuales'>
        <e-series-collection>
            <e-series [dataSource]='chartData' type='Bar' xName='month' yName='busquedas' name='Busquedas'></e-series>
        </e-series-collection>
    </ejs-chart> 
    </div>
    
    <!-- NUMERO DE BUSQEUDAS POR LOCALIDAD -->
    <div class="grid-item">
        <ejs-accumulationchart id="chart-pie" [legendSettings]='legendSettings' title='Busquedas por Localidad'>
            <e-accumulation-series-collection>
                <e-accumulation-series [dataSource]='piedata' xName='x' yName='y' [dataLabel]='datalabel'></e-accumulation-series>
            </e-accumulation-series-collection>
        </ejs-accumulationchart>
    </div>
    <div class="grid-item tablaUsers">
    
    </div>
    </div>
    