<!-- INICIO DE LA INFORMACION DEL DASHBOARD -->
<div class="modal fade" id="FAQModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Funcionamiento del Dashboard</h5>
            </div>
            <div class="modal-body accordion-body text-justify">
                <li class="mb-4"> <strong>Cambiar pueblos recomendados en la pestaña busqueda:</strong> 
                    <p class="faq-text"> En la parte superior izquierda de la pantalla se puede ver una tabla compuesta por el <i>ID del municipio</i>, el <i>nombre</i> y el campo <i>destacado</i>. El funcionamiento de esta tabla permite seleccionar 4 pueblos destacados para mostrarlos en la vista de "Pueblos". </p>
                </li>
                <li class="mb-4"> <strong>Representaciones gráficas: </strong>
                    <p class="faq-text"> En la <strong>primera gráfica</strong>, se muestra en un gráfico circular la cantidad de pueblos categorizados como "Despoblación" frente a los de "No Despoblación". </p>
                    <p class="faq-text"> En la <strong>segunda gráfica</strong>, se muestra, en un gráfico de barras, los 10 pueblos más buscados. </p>
                </li>  
                <li class="mb-4"> <strong>Edición de datos de usuarios:</strong>
                    <p class="faq-text"> Es posible editar los datos de los usuarios, tanto el nombre y apellios, correo electronico o como el rol, marcando con 1 que es un administrador, hay que seleccionar un usuario en la tabla haciendo doble click y editar los campos que se necesiten en la pestaña emergente, hay que confirmar los cambios pulsando "save" para que entren en vigor. </p>
                </li> 
                <li class="mb-4"> <strong>Llamada a los scrapers:</strong>
                    <p class="faq-text"> Para ejecutar cada uno de los scrapers y actualizar el contenido, es imprescindible que se seleccione el pueblo que de desea actualizar en la tabla inferior llamada "Seleccionar pueblo para lanzar scrapers" y seguidamente, hacer click en el boton que ejecute la actualización que se necesite. </p>
                </li> 
            </div>
        </div>
    </div>
</div>

<img class="info-img mt-2" style="float: right;" data-bs-toggle="modal" data-bs-target="#FAQModal"alt="dashboard info" src="../../../assets/images/info.png">
<!-- //FIN DE LA INFROMACIÓN DEL DASHBOARD -->
<div class="control-section m-3" style="clear: both;">
    <ejs-dashboardlayout id="dashboard" [columns]="3" [cellSpacing]='cellSpacing' [allowDragging]='allowDragging' [cellAspectRatio]='cellAspectRatio'>
        <e-panels>

            <!-- Change top picks on search tab using grid -->
            <e-panel [sizeX]="1" [sizeY]="2" [row]="0" [col]="0">
                <ng-template #header>
                    <div>Cambiar pueblos recomendados en la pestaña busqueda</div>
                </ng-template>
                <ng-template #content>
                    <ejs-grid #topPicksGrid [dataSource]='topPicksData' [allowPaging]='true' [allowSorting]="true" [selectionSettings]="topPickSelectionOptions" [toolbar]='topPicksToolbarOptions'
                            [allowFiltering]="true" [pageSettings]="topPicksPageSettings" height='100%' (rowDataBound)='topPicksRowDataBound($event)' [editSettings]='topPicksEditOptions'
                            (dataBound)='topPicksDataBound($event)' (actionComplete)='topPicksActionComplete($event)'>
                        <e-columns>
                            <e-column field='id' headerText='Municipio ID' isPrimaryKey='true'></e-column>
                            <e-column field='municipio' headerText='Nombre' [allowEditing]='false'></e-column>
                            <e-column field='highlighted' headerText='Destacado' editType='dropdownedit' [edit]='ddParams'></e-column> <!-- displayAsCheckBox='true' editType='booleanedit' type='boolean' -->
                        </e-columns>
                    </ejs-grid>
                </ng-template>
            </e-panel>

            <!-- Compare Despoblacion vs No Despobacion -->
            <e-panel [sizeX]="1" [sizeY]="1" [row]="0" [col]="1">
                <ng-template #header>
                    <div>Busquedas con Despoblación</div>
                </ng-template>
                <ng-template #content>
                    <ejs-chart id="despoblacionChart" [primaryXAxis]='primaryXAxis'[primaryYAxis]='primaryYAxis' [title]='titleDespoblacion' [palettes]='palette' [tooltip]='tooltip' [legendSettings]='legendSettings'>
                        <e-series-collection>
                            <e-series [dataSource]='despoblacionData' type='Column' xName='municipio_state' yName='total' name='Pueblos'></e-series>
                        </e-series-collection>
                    </ejs-chart>
                </ng-template>
            </e-panel>

            <!-- Top 10 most searched municipios piechart -->
            <e-panel [sizeX]="1" [sizeY]="1" [row]="0" [col]="2">
                <ng-template #header>
                    <div>Los 10 pueblos más buscados</div>
                </ng-template>
                <ng-template #content>
                    <div id="searchPie">
                        <ejs-accumulationchart id="searchPieChart" [enableAnimation]="false" [tooltip]='tooltip' [legendSettings]='legendSettings'>
                            <e-accumulation-series-collection>
                                <e-accumulation-series [dataSource]="searchpiechart" xName='municipio' yName='no_searches'
                                    name="Top 10" [dataLabel]='datalabel' radius='90%'>
                                </e-accumulation-series>
                            </e-accumulation-series-collection>
                        </ejs-accumulationchart>
                    </div>
                </ng-template>
            </e-panel>

            <!-- Change user privileges grid --> 
            <e-panel [sizeX]="2" [sizeY]="1" [row]="1" [col]="2">
                <ng-template #header>
                    <div>Informacion usuarios y cambiar privilegios</div>
                </ng-template>
                <ng-template #content>
                    <ejs-grid [dataSource]='tableData' [allowPaging]="true" [pageSettings]="userPageSettings" [editSettings]='userGridEditSettings' [toolbar]='userGridToolbar' height='100%'
                    (actionComplete)='userGridActionComplete($event)' [allowSorting]="true">
                        <e-columns>
                            <e-column field='id' headerText='ID' textAlign='center' isPrimaryKey='true' width=80></e-column>
                            <e-column field='email' headerText='Correo Electronico' [validationRules]='requiredField' width=200></e-column>
                            <e-column field='name' headerText='Nombre' [validationRules]='requiredField' width=120></e-column>
                            <e-column field='surnames' headerText='Apellidos' textAlign='left' [validationRules]='requiredField' width=180></e-column>
                            <e-column field='role' headerText='Rol' editType='dropdownedit' textAlign='right' width=60></e-column>
                            <e-column field='is_disabled' headerText='Disabled' editType='dropdownedit' textAlign='right' width=60></e-column>
                        </e-columns>
                    </ejs-grid>
                </ng-template>
            </e-panel>


            <!-- Scraper grid -->
            <e-panel [sizeX]="2" [sizeY]="1" [row]="2" [col]="0">
                <ng-template #header>
                    <div>Seleccionar pueblo para lanzar scrapers</div>
                    
                </ng-template>
                <ng-template #content>
                    <ejs-grid (rowSelected)='scraperGridRowSelected($event)' [dataSource]='townsData' [allowPaging]="true" [pageSettings]='townPageSettings' [toolbar]='toolbar' height='100%'>
                        <e-columns>
                            <e-column field='id' headerText='ID municipio' textAlign='center' isPrimaryKey='true' width=80></e-column>
                            <e-column field='municipio' headerText='Nombre municipio' width=200></e-column>
                        </e-columns>
                    </ejs-grid>
            
                </ng-template>
            </e-panel> 

            <!-- Scraper launch buttons -->
            <e-panel [sizeX]="1" [sizeY]="1" [row]="2" [col]="2">
                <ng-template #header>
                    <div>Seleccionar pueblo para lanzar scrapers</div>
                </ng-template>
                <ng-template #content height='100%'>
                    <div class="container-scrapers">
                        <div><button class="btn scraperBtn" (click)="reset_locality()">Resetear BBDD</button></div>
                        <div><button class="btn scraperBtn" (click)="notScraped(0)"> Lanzar scraper TripAdvisor</button></div>
                        <div><button class="btn scraperBtn" (click)="notScraped(1)"> Lanzar scraper Twitter</button></div>
                        <div><button class="btn scraperBtn" (click)="notScraped(2)"> Lanzar scraper elTiempo.es</button></div>
                        <div><button class="btn scraperBtn" (click)="notScraped(3)"> Lanzar scrapper Wikipedia</button></div>
                    </div>
                </ng-template>
            </e-panel>

        </e-panels>
    </ejs-dashboardlayout>

    <!--<button class="btn btn-primary" (click)="reset_locality()">Resetear CCAA, Provincias y municipios</button>
     <button class="btn btn-primary" (click)="tripadvisorLaunch()">actualizar TRIP</button>
    <button class="btn btn-primary" (click)="twitterLaunch()">actualizar TWITTER</button>
    <button class="btn btn-primary" (click)="tiempoLaunch()">actualizar TIEMPO</button>
    <button class="btn btn-primary" (click)="wikiLaunch()">actualizar WIKI</button> -->
    
</div>