.e-grid .e-toolbar-items {
    background-color: #deecf9;
}
.e-grid .e-toolbar .e-btn {
    background-color: black;
}

.grid-item {    
    border: 1px solid black;
    background:white;
    border-radius: 25px;
    margin:2px;
    padding: 5px;
    font-size: 30px;
    text-align: center;
  }

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }

  
.tablaUsers{
    height:300px;
}

