
<div class="control-section m-3">
    <ejs-dashboardlayout id="dashboard" [columns]="3" [cellSpacing]='cellSpacing' [allowDragging]='allowDragging' [cellAspectRatio]='cellAspectRatio'>
        <e-panels>

            <!-- Change top picks on search tab using grid -->
            <e-panel [sizeX]="1" [sizeY]="2" [row]="0" [col]="0">
                <ng-template #header>
                    <div>Cambiar pueblos recomendados en la pestaña busqueda</div>
                </ng-template>
                <ng-template #content>
                    <ejs-grid #topPicksGrid [dataSource]='topPicksData' [allowPaging]='true' [allowSorting]="true" [selectionSettings]="topPickSelectionOptions" [toolbar]='topPicksToolbarOptions'
                            [allowFiltering]="true" [pageSettings]="topPicksPageSettings" height='100%' (rowDataBound)='topPicksRowDataBound($event)' [editSettings]='topPicksEditOptions'
                            (dataBound)='topPicksDataBound($event)' (actionComplete)='topPicksActionComplete($event)'>
                        <e-columns>
                            <e-column field='id' headerText='Municipio ID' isPrimaryKey='true'></e-column>
                            <e-column field='municipio' headerText='Nombre' [allowEditing]='false'></e-column>
                            <e-column field='highlighted' headerText='Destacado' editType='dropdownedit' [edit]='ddParams'></e-column> <!-- displayAsCheckBox='true' editType='booleanedit' type='boolean' -->
                        </e-columns>
                    </ejs-grid>
                </ng-template>
            </e-panel>

            <!-- Reset the db and call different scrapers -->
            <e-panel [sizeX]="1" [sizeY]="1" [row]="0" [col]="1">
                <ng-template #header>
                    <div>Busquedas con Despoblación</div>
                </ng-template>
                <ng-template #content>
                    <ejs-chart id="chartDespoblacion" [primaryXAxis]='primaryXAxis'[primaryYAxis]='primaryYAxis' [title]='titleDespoblacion'>
                        <e-series-collection>
                            <e-series [dataSource]='despoblacionData' type='Column' xName='categoria' yName='cantidad' name='Pueblos'></e-series>
                        </e-series-collection>
                    </ejs-chart>
                </ng-template>
            </e-panel>

            <!-- Top 10 most searched municipios piechart -->
            <e-panel [sizeX]="1" [sizeY]="1" [row]="0" [col]="2">
                <ng-template #header>
                    <div>Los 10 pueblos más buscados</div>
                </ng-template>
                <ng-template #content>
                    <div id="searchPie">
                        <ejs-accumulationchart id="searchPieChart" [enableAnimation]="false" [tooltip]='tooltip' [legendSettings]='legendSettings'>
                            <e-accumulation-series-collection>
                                <e-accumulation-series [dataSource]="searchpiechart" xName='municipio' yName='no_searches'
                                    name="Top 10" [dataLabel]='datalabel' radius='90%'>
                                </e-accumulation-series>
                            </e-accumulation-series-collection>
                        </ejs-accumulationchart>
                    </div>
                </ng-template>
            </e-panel>

            <!-- Change user privileges grid -->
            <e-panel [sizeX]="2" [sizeY]="1" [row]="1" [col]="2">
                <ng-template #header>
                    <div>Informacion usuarios y cambiar privilegios</div>
                </ng-template>
                <ng-template #content>
                    <ejs-grid [dataSource]='tableData' [allowPaging]="true" [pageSettings]="userPageSettings" >
                        <e-columns>
                            <e-column field='id' headerText='ID' textAlign='center' isPrimaryKey='true' width=80></e-column>
                            <e-column field='email' headerText='Correo Electronico' width=200></e-column>
                            <e-column field='name' headerText='Nombre' width=120></e-column>
                            <e-column field='surnames' headerText='Apellidos' textAlign='left' width=180></e-column>
                            <e-column field='role' headerText='Rol' textAlign='right' width=60></e-column>
                        </e-columns>
                    </ejs-grid>
                </ng-template>
            </e-panel>


            <!-- TABLA DE PUEBLOS -->
            <e-panel [sizeX]="2" [sizeY]="1" [row]="2" [col]="0">
                <ng-template #header>
                    <div>Seleccionar pueblo para lanzar scrapers</div>
                    
                </ng-template>
                <ng-template #content>
                    <ejs-grid (rowSelected)='rowSelected($event)' [dataSource]='townsData' [allowPaging]="true" [pageSettings]='townPageSettings' [toolbar]='toolbar'>
                        <e-columns>
                            <e-column field='id' headerText='ID municipio' textAlign='center' isPrimaryKey='true' width=80></e-column>
                            <e-column field='municipio' headerText='Nombre municipio' width=200></e-column>
                        </e-columns>
                    </ejs-grid>
            
                </ng-template>
            </e-panel>

            <!-- Botones Scrapers -->
            <e-panel [sizeX]="1" [sizeY]="1" [row]="2" [col]="2">
                <ng-template #header>
                <div>Seleccionar pueblo para lanzar scrapers</div>
                </ng-template>
            <ng-template #content>
                <div><button class="btn btn-primary scraperBtn" (click)="reset_locality()">Resetear Localidades</button></div>
                <div><button class="btn btn-primary scraperBtn" (click)="notScraped(0)"> Lanzar scraper TripAdvisor</button></div>
                <div><button class="btn btn-primary scraperBtn" (click)="notScraped(1)"> Lanzar scraper Twitter</button></div>
                <div><button class="btn btn-primary scraperBtn" (click)="notScraped(2)"> Lanzar scraper elTiempo.es</button></div>
                <div><button class="btn btn-primary scraperBtn" (click)="notScraped(3)"> Lanzar scrapper Wikipedia</button></div>
            </ng-template>
            </e-panel>

        </e-panels>
    </ejs-dashboardlayout>

    <!--<button class="btn btn-primary" (click)="reset_locality()">Resetear CCAA, Provincias y municipios</button>
     <button class="btn btn-primary" (click)="tripadvisorLaunch()">actualizar TRIP</button>
    <button class="btn btn-primary" (click)="twitterLaunch()">actualizar TWITTER</button>
    <button class="btn btn-primary" (click)="tiempoLaunch()">actualizar TIEMPO</button>
    <button class="btn btn-primary" (click)="wikiLaunch()">actualizar WIKI</button> -->
    
</div>