<div class="container text-center mt-4 p-2">
    <h2 class="container-header title">Historial de busqueda</h2>
    <p>Bienvenido de nuevo, <strong>{{userCredentials['name']}} {{userCredentials['surnames']}}!</strong></p>
    <hr class="horizontal-break">
    <div class="row mb-5 mt-3 gy-md-1 gy-4">
        <div class="col-md-3" *ngFor="let town of searchedTowns">
            <div class="card h-100">
                <img class="card-img-top" [src]="town.wiki_info.imagen" alt="Town image">
                <div class="card-body">
                    <p class="card-text">{{town.wiki_info.description}}</p>
                    <p class="card-text"><small class="text-muted">{{town.wiki_info.population}}</small></p>
                    <button class="btn btn-primary" [routerLink]="['/pueblos', town.municipio_id, {municipio: town.municipio}]">Visitar</button>
                </div>
            </div>
        </div>  
    </div>
</div>