<div class="text-center">
    <div class="content">
        <h2>Personal Information Page</h2>
        <p style="text-align: left">Welcome back, {{userCredentials['name']}} {{userCredentials['surnames']}}<strong>  </strong>!</p>
        <div>
            <p>Your account details are below: <br><br></p>
            <hr>
            <table>
                <tr>
                    <td>Name:</td>
                    <td>{{userCredentials['name']}}</td>
                </tr>
                <tr>
                    <td>Surnames:</td>
                    <td>{{userCredentials['surnames']}}</td>
                </tr>
            </table>
            <div class="container text-center">
                <button class="btn btn-primary" (click)="addSearch()">Añadir busqueda (Madrid)</button><br>
            </div>
        </div>


    </div>
</div>