<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="/pueblos"> 
    <span>
    <img class="icon navbar-icon" src="../../assets/images/emptyspain_logo.png" alt="Logo empty-spain">
    </span>Empty Spain Inc. 
  </a>
  
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-label="Button hamburger collapse">
    <span class="navbar-toggler-icon"></span>
  </button> 

  <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen}">
      <ul class="navbar-nav ms-auto">
        <!-- <li class="nav-item mx-1">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="activeLink">Inicio</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" routerLink="/analisis-texto" routerLinkActive="activeLink">Análisis de Texto</a>
        </li> -->
        <li class="nav-item mx-1">
          <a class="nav-link" routerLink="/pueblos" routerLinkActive="activeLink">Pueblos</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/preguntas-frecuentes" routerLinkActive="activeLink">Preguntas Frecuentes</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/examen-pc3" routerLinkActive="activeLink">Examen-pc3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="dashboardLink" routerLink="/dashboard" routerLinkActive="activeLink">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!profileLink" routerLink="/authentication" routerLinkActive="activeLink">Login</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" *ngIf="profileLink" routerLink="/perfil" routerLinkActive="activeLink">Perfil</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" *ngIf="profileLink" routerLink="" (click)="logout()">Log out</a>
        </li>
      </ul>
  </div>
</nav>