<app-navbar></app-navbar>

<div class="text-center">
  <h1 class="display-1"><strong>Inicio</strong></h1>
</div>
<br>


<div class="container ">
  <br>
  <h2>¿Qué es el Análisis de Sentimiento?</h2>
  <hr>
  <a style="text-align: justify;">El <strong>Análisis de Sentimiento</strong> o <strong>minería de opinión</strong> es un tipo de procesamiento del lenguaje natural para realizar el seguimiento del estado de ánimo del público sobre un producto en particular.
    El análisis de sentimiento implica la construcción de un sistema para recoger y categorizar opiniones sobre un producto. 
    Conocido también como minería de opinión, puede automatizarse usando machine learning, un tipo de inteligencia artificial (IA), para extraer el sentimiento del texto
  </a>
  <img style="display: block;margin: auto;" src="https://1.bp.blogspot.com/-C03j8yr-Xds/XcxXmpG5biI/AAAAAAAAB90/yQJ49G3nEscdgrSGTSW_ODHvfRIrr19xgCPcBGAYYCw/s1600/shutterstock_1073953772-860x9999.jpg" alt="">
  
  <blockquote class="blockquote">
    <p style="text-align: center;" class="mb-0">Esta aplicación consiste en analizar un texto introducido en el campo dedicado y se obtienen como resultado unos valores de positividad y negatividad para este texto.</p>
  </blockquote>
  <button style="display: block;margin: auto;" class="btn btn-primary">Pulsar para acceder al Análisis de Sentimiento</button>
  <br><br>

</div>




  <!--<a href="https://sass-lang.com/documentation/variables">Explicacion SCSS</a><br>
  <a href="https://material.angular.io/">Material Angular</a><br>
  <a href="https://ng-bootstrap.github.io/#/components/carousel/api">Material ng-Bootstrap</a><br>
  <a href="https://ng-bootstrap.github.io/#/components/nav/examples">NavBar</a>
  <br><button class="btn btn-primary">Prueba Boton</button>-->

<app-footer></app-footer>

