<div class="text-center">
  <h1 class="display-4">Links de referencia</h1>
  <a href="https://sass-lang.com/documentation/variables">Explicacion SCSS</a><br>
  <a href="https://material.angular.io/">Material Angular</a><br>
  <a href="https://ng-bootstrap.github.io/#/components/carousel/api">Material ng-Bootstrap</a><br>
  <a href="https://ng-bootstrap.github.io/#/components/nav/examples">NavBar</a>
  <br><button class="btn btn-primary">Prueba Boton</button>
  <input type="text" class="hasDisplay" hidden value="shown">
  <input type="text" hidden value="not shown">
</div>


