$colorPrincipal: red;
$colorSecundario: blue;

.btn-primary {
    background-color: $colorPrincipal;
}

.btn-primary:hover{
    background-color: $colorSecundario;
}

a {
    display: block;
    padding-top: 5px;
}

.hasDisplay {
    display: block;
  }