@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300;400&display=swap');

/* Variables globales */
$colorPrincipal: rgb(115, 137, 220);
$colorSecundario: rgb(64, 77, 126);
$colorNeutral: rgb(243, 252, 193);
$colorPositivo: rgb(157, 240, 157);
$colorNegativo: rgb(247, 126, 126);

// Asignar a 100% para que el footer este fijo debajo (id=estilo en div de app.component.html necesario)
body, html {
    height: 100%;
    background-color: #f2f2f2!important;
}

.container {
    background-color: white;
}

.main-container {
    margin: 3vh;
}

.botones {
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}

.btn-primary {
    background-color: $colorPrincipal;  
}

.btn-primary:hover {
    background-color: $colorSecundario;
}

.h1Titulo {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.texto_principal {
    padding-top: 5px;
    text-align: justify;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: 'Lora', serif;
}

#positivo {
    background-color: red;//$colorPositivo
}

#negativo {
    background-color: $colorNegativo;
}

#neutral {
    background-color: $colorNeutral;
}