//Imports syncfusion para dashboard
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300;400&display=swap');

/* Variables globales */
:root {
    --rich-black: rgb(36,41,46);
    --azure: #3F84E5;
    --light-sea-green: #00A6A6;
    --lime-green: #6A9A1F;
    --maximum-red: #DE1A1A;
}

// Asignar a 100% para que el footer este fijo debajo (id=estilo en div de app.component.html necesario)
body, html {
    height: 100%;
    background-color: #f2f2f2!important;
}

.container {
    background-color: white;
}

.main-container {
    margin: 3vh;
}

.botones {
    margin-top: 20px!important;
    margin-bottom: 20px!important;
    background-color: var(--lime-green)!important; 
}

/* .btn-primary:hover {
    background-color: var(--color-secundario);
} */

.h1Titulo {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.texto_principal {
    padding-top: 5px;
    text-align: justify;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: 'Lora', serif;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(74, 74, 74, .8)!important;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}