<div class="text-center">
    <h1 class="display-1 h1Titulo"><strong>Análisis de Texto</strong></h1>
</div>

<div class="container text-center">
    <h2>Introducir la frase o texto que se quiere analizar:</h2>
    <hr>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Ejemplo: Odio los libros."></textarea>
    
    <button class="btn btn-primary botones" (click)="getSentimentResults()">Analizar</button>
</div>
<div class="container text-center">
    <img src="../../assets/images/feliz.png"  class="img_sentimiento" alt="Feliz" >
    <img src="../../assets/images/triste.png" class="img_sentimiento" alt="Triste" >
    <img src="../../assets/images/neutral.png" class="img_sentimiento" alt="Neutral" hidden>
</div>  