.img_sentimiento {
    height: 200px;
}

.resultado {
    font-size: 32px;
    padding-bottom: 6px;
    color: rgb(0, 0, 0);
}

#positivo {
    background-color: $colorPositivo;
}

#negativo {
    background-color: $colorNegativo;
}

#neutral {
    background-color: $colorNeutral;
}