<!-- Search container -->
<div class="container">
    <div class="card">
        <div class="form-group">
            <label for="search-text">Search Text</label>
            <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
            [(ngModel)]="searchText" placeholder="Enter text to search" autofocus>
        </div>
        <ul class="list-group list-group-flush">
            <!-- results of ngFor is passed to appFilter with argument searchText -->
            <li class="list-group-item" *ngFor="let c of characters | searchFilter: searchText | slice:0:10">
                {{c.municipio}}
            </li>
        </ul>
    </div>
</div>

<!-- Town container -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 centrado">
                <img class="img-fluid img-thumbnail" src="https://i.ibb.co/MkyqFkv/Andalucia.jpg" alt="Melilla" >
                <div class="texto">Andalucia</div>
            </div>
            
            <div class="col-sm-6 col-md-4 centrado"><img class="img-fluid img-thumbnail" src="https://img2.rtve.es/v/5355269/" alt="Melilla"><div class="texto">Comunidad de Madrid</div></div>
            <div class="col-sm-6 col-md-4 centrado"><img class="img-fluid img-thumbnail" src="https://i.ibb.co/W25QSsV/2-Aragon.jpg" alt="Melilla"></div>
            <div class="col-sm-6 col-md-4 centrado"><img class="img-fluid img-thumbnail" src="https://i.ibb.co/MkyqFkv/Andalucia.jpg" alt="Melilla"></div>
            <div class="col-sm-6 col-md-4 centrado"><img class="img-fluid img-thumbnail" src="https://i.ibb.co/MkyqFkv/Andalucia.jpg" alt="Melilla"></div>
            <div class="col-sm-6 col-md-4 centrado"><img class="img-fluid img-thumbnail" src="https://i.ibb.co/MkyqFkv/Andalucia.jpg" alt="Melilla"></div>
            <div class="col-sm-6 col-md-4 centrado"><img class="img-fluid img-thumbnail" src="https://i.ibb.co/MkyqFkv/Andalucia.jpg" alt="Melilla"></div> <!-- https://source.unsplash.com/random/320x240 -->
        </div>
    </div>
</div>