<div class="mw-100 main-container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-signin mx-auto d-block">
        <img class="icon mx-auto d-block" src="https://i.pinimg.com/originals/20/d2/81/20d28190d1556b7279ba6f0c87b0d9f2.jpg" alt="Logo Movie Showcase" >
        <h1 class="h3 mb-3 font-weight-normal">Empty Spain Inc.</h1>

        <label for="inputEmail" class="sr-only">E-mail address</label>
        <input type="email" id="inputEmail" class="form-control" name="username" placeholder="E-mail address" ngModel email required autofocus>
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" ngModel name="password" id="inputPassword" class="form-control" placeholder="Password" required>

<!--         <div *ngIf="username.invalid && username != ''" class="alert alert-danger">Invalid username or password</div>
 -->    
        <div class="text-center">
            <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="f.invalid">Sign in</button>
            <a class="register-link d-block" href="./register.php">Don't have an account?</a>
            <p class="mt-4 text-muted">&copy; 2019-2020 by Grupo 5</p>
        </div>
    </form>
</div>