<div class="mw-100 main-container">
    <form #f="ngForm" (ngSubmit)="onLoginSubmit(f)" class="form-signin mx-auto d-block">
        <img class="icon mx-auto d-block"
            src="https://i.pinimg.com/originals/20/d2/81/20d28190d1556b7279ba6f0c87b0d9f2.jpg"
            alt="Logo empty-spain">
        <h1 class="h3 mb-3 font-weight-normal">Empty Spain Inc.</h1>

        <label for="inputEmail" class="sr-only">E-mail address</label>
        <input type="email" id="inputEmail" class="form-control" name="email" placeholder="E-mail address" ngModel email
            required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" ngModel
            required>

        <div *ngIf="!validLoginEmail" class="alert alert-danger">Invalid email (should be example@example.com)</div>
        <div *ngIf="!validLoginPassword" class="alert alert-danger">Please insert a password.</div>
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid user credentials, please check they are correct</div>

        <div class="text-center">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <a class="register-link d-block" (click)="show()">Don't have an account?</a>
            <p class="mt-4 text-muted">&copy; 2019-2020 by Grupo 5</p>
        </div>
    </form>
</div>




<div [style.display]="showModal ? 'block' : 'none'" class="modal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Register</h4>
                <button type="button" (click)="hide()" class="close" aria-label="Close"><span aria-hidden="false">&times;</span></button>
            </div>
            <div class="modal-body">
                <form #registerform="ngForm" (ngSubmit)="onRegisterSubmit(registerform)" class="form-signin mx-auto d-block">
            
                    <label for="inputName" class="sr-only">Name</label>
                    <input type="name" name="name" id="inputName" class="form-control" placeholder="Name" ngModel
                        required autofocus>
                        
                    <label for="inputSurnames" class="sr-only">Surnames</label>
                    <input type="surnames" name="surnames" id="inputSurnames" class="form-control" placeholder="Surnames" ngModel
                        required>

                    <label for="inputEmail" class="sr-only">E-mail address</label>
                    <input type="email" id="inputEmail" class="form-control" name="email" placeholder="E-mail address" ngModel email
                        required >
            
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" ngModel
                        required>

            
                    <div *ngIf="!validRegisterName" class="alert alert-danger">Invalid Name (max. 8 characters).</div>
                    <div *ngIf="!validRegisterSurnames" class="alert alert-danger">Invalidvalid Surnames (max. 24 characters).</div>
                    <div *ngIf="!validRegisterEmail" class="alert alert-danger">Invalid E-mail (should be example@example.com)</div>
                    <div *ngIf="!validRegisterPassword" class="alert alert-danger">Please insert a password longer than 6 characters.</div>
            
                    <div class="text-center">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                        <p class="mt-4 text-muted">&copy; 2019-2020 by Grupo 5</p>
                    </div>
                </form>
            </div>   
        </div>
    </div>

</div>











<!-- Creates the bootstrap modal where the register will appear -->
<!-- 
<div [style.display]="showModal ? 'block' : 'none'" class="modal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Register</h4>
            </div>
            <div class="modal-body">
                <form #register="ngForm" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit(register)">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="name" formControlName="name" placeholder="Name" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && register.name }" />
                                <div *ngIf="submitted && register.name" class="invalid-feedback">
                                    <div *ngIf="register.name.required">Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Surnames</label>
                                <input type="surnames" formControlName="surnames" placeholder="Surnames"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && register.surnames }" />
                                <div *ngIf="submitted && register.surnames" class="invalid-feedback">
                                    <div *ngIf="register.surnames">Surnames is required</div>

                                </div>
                            </div>
                        </div>
                        <div class="col-m-6">
                            <div class="col-m-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" formControlName="email" placeholder="E-mail address"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && register.email }" />
                                    <div *ngIf="submitted && register.email" class="invalid-feedback">
                                        <div *ngIf="register.email.required">Email is required</div>
                                        <div *ngIf="register.email">Email must be a valid email address</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" formControlName="password"
                                    placeholder="Password (min. 6 characters)" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && register.password }" />
                                <div *ngIf="submitted && register.password" class="invalid-feedback">
                                    <div *ngIf="register.password.required">Password is required</div>
                                    <div *ngIf="register.password.minlength">Password must be at least 6 characters
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Sign Up</button>
                    <div *ngIf="userRegisterSuccess" class="alert alert-danger text-center mt-4">Introduced email is
                        already taken!</div>
                </form>

                <-- Boton en la parte inferior de cerrar popup -->
<!-- </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hide()">Close</button>

            </div>
        </div>
    </div>

</div> -->